{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <link rel="stylesheet" href="{% static 'css/detail.css'%}">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="header_div">
            <div class="logo inline">
                <a href="{% url 'town:mainPage'%}">
                    <img src="{% static 'img/COCO.png'%}" alt="" class="coco">
                </a>
            </div>

            <ul class="layout">
                <li>
                    <img src="{% static 'img/home.png'%}" alt="" class="size">
                    <a href="{% url 'myPage:myPage' request.user.id%}" class="mypage">Mypage</a>
                </li>
                <li>
                    <img src="{% static 'img/building_.jpg'%}" style="width:22px;height:22px;padding-top:3px;margin-right:5px;" alt="" >
                    <a href="{% url 'town:myTown'%}" class="mytown">Mytown</a>
                </li>
                <li>
                    <img src="{% static 'img/article.png'%}" alt="" class="size">
                    <a href="{% url 'blog:home' %}" class="thread">게시판</a>
                </li>
                <li>
                    <img src="{% static 'img/perm_identity.png'%}" alt="" class="size">
                    <a href="{% url 'user:signout'%}" class="login">Sign Out</a>
                </li>
                <li>
                    <img src="{% static 'img/Setting.png'%}" style="width:23px;height:23px;margin-right:5px;" alt="">
                    <a href="{% url 'town:setting'%}" class="setting">설정</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="where">
            <div class="location_div">
                <img src="{% static 'img/location.png'%}" alt="" class="location_img">
            </div>
            <input type="text" class="location" placeholder="Location" >
        </div>
    </div>

    <div class="container"> 
        <div class="maxsize">
            <!-- 글 본문 -->
            <div class="article">
                <div class="category font1">
                    {{blog.category}}
                </div>
                <div class="title font">
                    {{blog.title}}
                </div>
                <div class="detail flex">
                    <div>
                        <span class="date font">{{blog.created_at}}</span>

                        <span style="color:#11111183" class="cu font">작성자</span>
                        <span class="createuser2">{{blog.user.profile.nickname}}</span>
                        <span style="color:#11111183" class="cu font">조회수</span>
                        <span class="createuser2">{{blog.hit}}</span>

                    </div>
                    {% if user == blog.user%}
                    <div>
                        <a href="{% url 'blog:edit' blog.id %}" class= "edit btn2 font">수정</a>
                        <a href="{% url 'blog:delete' blog.id %}" class="delete btn2 font" onclick="return confirmDelete(event)">삭제</a>
                    </div>
                    {% endif %}

                </div>
                
                {% if blog.image %}
                <div class="image">
                    <img src="{{blog.image.url}}" alt="" class="image">
                </div>
                {% endif %}
                <div class="content font">
                    {{blog.content}}
                </div>
    
            </div>

            <!-- 좋아요 -->
            <div class="like flex">
                <!-- 좋아요 눌렀을 때 -->
                <a href="{% url 'blog:like_blog' blog.id %}">
                    {% if blog.is_liked %} 
                    <img src="{% static 'img/heart (1).png' %}" alt="" class="like_img">
                <!-- 좋아요 안눌렀을 때 -->
                    {% else %} 
                    <img src="{% static 'img/heart.png' %}" alt="" class="like_img">
                    {% endif %}
                </a>
                <span class = "font">좋아요 {{ blog.like_count }}개 </span>
            </div>

            
            <!-- 댓글 작성 칸 -->
            <div class="massage_create flex">
                <!-- 댓글 다는 유저 프로필 -->
                <div class="profile_div">
                    {% if request.user.profile.image %}
                    <img src="{{request.user.profile.image.url}}" alt="" class="profile_img">
                    {% else %}
                    <img src="{% static 'img/image.png' %}" alt="" class="profile_img">
                    {% endif %}
                </div>
                <form action="{% url 'blog:add_comment' blog.id %}" method="post" class="msg">
                    {% csrf_token %}
                    <div class="msg_contents">
                        <input type="text" name="comment_text" id="mag" class="input_massage font" placeholder="댓글을 입력하세요."></input>
                    </div>
                    <div class="submitbtn">
                        <input type="submit" class="submit font" value="전송"/>
                    </div>
                </form>
            </div>
            <!-- 이미 달린 댓글 -->
            
            {% for comment in blog.comments.all %}
            <div class="massage flex">
                <!-- 댓글 달린 유저 프로필 -->
                <div class="profile_div">
                    {% if comment.user.profile.image %}
                    <img src="{{comment.user.profile.image.url}}" alt="" class="profile_img">
                    {% else %}
                    <img src="{% static 'img/image.png' %}" alt="" class="profile_img">
                    {% endif %}
                </div>
                <div class="max">
                    <div class = "Userdetail">
                        {% if request.user == comment.user %}
                        <div class="more">
                            <a href="" class= "edit btn">수정</a>
                            <a href="{% url 'blog:delete_comment' comment.id %}" class="delete btn">삭제</a>
                        </div>
                        {% endif %}
                        <div class="username">{{comment.user.profile.nickname}}</div>
                        <div class="massagedate">{{comment.created_at}}</div>
                    </div>
                    <div class="msg_contents">{{comment.comment_text}}</div> 
                    <form action="{% url 'blog:update_comment' comment.id%}" method="post" class="edit-form hidden">
                        {% csrf_token %}
                        <input type="text" name="comment_text" class="input_massage" placeholder="Edit your comment" value = "{{comment.comment_text}}" />
                        <input type="submit" class="btn" value="Save" />
                    </form>
                </div>                
            </div>
            {% endfor %}
        </div>
        
    </div>

    <script>
        // Edit 버튼 - 댓글 수정
        const editButtons = document.querySelectorAll('.massage .edit');
        const deleteBt = document.querySelector('.delete');
        const editBt = document.querySelector('.edit');
    
        editButtons.forEach((editButton) => {
          editButton.addEventListener('click', (event) => {
            event.preventDefault();
            const container = editButton.closest('.massage');
            const commentContent = container.querySelector('.msg_contents');
            const editForm = container.querySelector('.edit-form');

    
            commentContent.style.display = 'none';
            editForm.classList.remove('hidden');

            editBt.style.display = 'none';
            deleteBt.style.display = 'none';
          });
        });

        // 삭제 버튼 팝업창 
        function confirmDelete(event) {
            event.preventDefault();
            const confirmation = confirm("정말로 삭제 하시겠습니까?");
            if (confirmation) {
                window.location.href = event.target.href;
            } else {
            }
        }

        // 댓글 전송 버튼 
        // 아무것도 작성 안된 상태 -> 버튼 없애도록
        const commentInput = document.getElementById('mag');
        const submitBtn = document.querySelector('.submitbtn');
        submitBtn.style.display = 'none';
        commentInput.addEventListener('input', function(){
            if (commentInput.value.trim() === ''){
                submitBtn.style.display = 'none';
            }
            else{
                submitBtn.style.display = 'block';
            }
        });
        // 아무것도 작성 안된 상태에서 enter 눌러도 댓글 안달리게
        commentInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); 
            if (commentInput.value.trim() !== '') {
                const form = document.querySelector('.msg');
                form.submit(); 
            }
        }
    });

      
    
      </script>
    
</body>
</html>