{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/new.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <header id="header">
        <div class="header_div">
            <div class="logo inline">
              <a href="{% url 'town:mainPage'%}">
                <img src="{% static 'image/COCO.png'%}" alt="" class="coco" />
              </a>
            </div>

            <ul class="layout">
                <li>
                    <img src="{% static 'img/home.png'%}" alt="" class="size">
                    <a href="{% url 'myPage:myPage' request.user.id%}" class="mypage">Mypage</a>
                </li>
                <li>
                    <img src="{% static 'img/building_.jpg'%}" style="width:22px;height:22px;padding-top:3px;margin-right:5px;" alt="" >
                    <a href="{% url 'town:myTown'%}" class="mytown">Mytown</a>
                </li>
                <li>
                    <img src="{% static 'img/article.png'%}" alt="" class="size">
                    <a href="{% url 'blog:home' %}" class="thread">게시판</a>
                </li>
                <li>
                    <img src="{% static 'img/perm_identity.png'%}" alt="" class="size">
                    <a href="{% url 'user:signout'%}" class="login">Sign Out</a>
                </li>
                <li>
                    <img src="{% static 'img/Setting.png'%}" style="width:23px;height:23px;margin-right:5px;" alt="">
                    <a href="{% url 'town:setting'%}" class="setting">설정</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="where">
            <div class="location_div">
                <img src="{% static 'img/location.png'%}" alt="" class="location_img">
            </div>
            <input type="text" class="location" placeholder="Location" >
        </div>
    </div>

    <div class="container">
      <div class="maxsize">
        <div class="top flex">
          <div class="category_div">
            <select id="category">

              <option value="배달열차" {% if edit_blog.category == "배달열차" %}selected{% endif %}>배달열차</option>
              <option value="공구mate" {% if edit_blog.category == "공구mate" %}selected{% endif %}>공구mate</option>
              <option value="대신해드립니다" {% if edit_blog.category == "대신해드립니다" %}selected{% endif %}>대신 해드립니다</option>
              <option value="우리동네소식" {% if edit_blog.category == "우리동네소식" %}selected{% endif %}>우리동네소식</option>
              <option value="공지사항" {% if edit_blog.category == "공지사항" %}selected{% endif %}>공지사항</option>
            </select>
          </div>
          <div class="upload-container">
            <input type="file" id="image-upload" class="imgadd" />
            <label for="image-upload">
              <img src="{% static 'img/image2_bef.png'%}" alt="" id="imgdiv">
            </label>
          </div>

        </div>

        <div class="title_div">
          <input id = 'title' class="title" type="text" name="title" value="{{edit_blog.title}}" placeholder="제목 수정"/>
        </div>
        <hr />

        {% if edit_blog.image %}
        <div class="imgbox_div" style="display: block;">
          <img id="preview" src="{{edit_blog.image.url}}" alt="사진 Preview" />
        </div>
        {% else %}
        <div class="imgbox_div">
          <img id="preview" src="" alt="사진 Preview" />
        </div>
        {% endif %}

        <div class="contents_div">
          <textarea
            name="content"
            class="content"
            oninput="autoResize(this)"
            placeholder="내용 수정"
            id="content"
          >{{edit_blog.content}}</textarea>
        </div>
      </div>
    </div>

    <div class="footer flex">
      <img src="{% static 'img/COCO.png'%}" alt="" class="logo" />
      <div class="button">
        <a href="{% url 'blog:detail' edit_blog.id%}" class="close">취소</a>
        <button class="close finish" onclick="submitButton('{{ edit_blog.id }}')">완료</button>
      </div>
    </div>
    <script>
      function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
      }
      const submitButton = (id) => {
        const categoryValue = document.getElementById("category").value;
        const titleValue = document.getElementById("title").value;
        const contentValue = document.getElementById("content").value;
        const imageFile = document.getElementById("image-upload").files[0];
        const formData = new FormData();
        formData.append("title", titleValue);
        formData.append("content", contentValue);
        formData.append("category", categoryValue);
        formData.append("image", imageFile);

        fetch(`/blog/update/${id}/`, {
          method: "POST",
          body: formData,
          headers: {
            "X-CSRFToken": getCookie("csrftoken"), 
          },
        }).then((response) => {
          if (response.redirected) {
            window.location.href = response.url; // 리다이렉션 처리
          } else if (response.status === 400) {
            // 오류 처리
            response.json().then((data) => {
              const errorMessage = data.error;
              alert(errorMessage);
              // 오류 메시지를 사용하여 필요한 동작 수행
            });
          }
        });
      };

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      // 호버하면 이미지 변경
      document.addEventListener("DOMContentLoaded", function() {
        const imgdiv = document.querySelector('#imgdiv');

        imgdiv.addEventListener('mouseover', function() {
          imgdiv.src = "{% static 'img/image2_aft.png'%}";
        });

        imgdiv.addEventListener('mouseout', function() {
          imgdiv.src = "{% static 'img/image2_bef.png'%}";
        });
      });
      //사진 프리뷰 
      document.addEventListener("DOMContentLoaded", function () {
        function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function () {
            var imagePreview = document.getElementById("preview");
            imagePreview.src = reader.result;

            var imgBoxdiv = document.querySelector(".imgbox_div");
            imgBoxdiv.style.display = "block";
          };
          reader.readAsDataURL(event.target.files[0]);
        }

        var imageInput = document.getElementById("image-upload");
        imageInput.addEventListener("change", previewImage);
      });
    </script>
  </body>
</html>
