{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="header_div">
            <div class="logo inline">
                <a href="{% url 'town:mainPage'%}">
                    <img src="{% static 'img/COCO.png'%}" alt="" class="coco">
                </a>
            </div>

            <ul class="layout">
                <li>
                    <img src="{% static 'img/home.png'%}" alt="" class="size">
                    <a href="{% url 'myPage:myPage' request.user.id%}" class="mypage">Mypage</a>
                </li>
                <li>
                    <img src="{% static 'img/building_.jpg'%}" style="width:22px;height:22px;padding-top:3px;margin-right:5px;" alt="" >
                    <a href="{% url 'town:myTown'%}" class="mytown">Mytown</a>
                </li>
                <li>
                    <img src="{% static 'img/article.png'%}" alt="" class="size">
                    <a href="{% url 'blog:home' %}" class="thread">게시판</a>
                </li>
                <li>
                    <img src="{% static 'img/perm_identity.png'%}" alt="" class="size">
                    <a href="{% url 'user:signout'%}" class="login">Sign Out</a>
                </li>
                <li>
                    <img src="{% static 'img/Setting.png'%}" style="width:23px;height:23px;margin-right:5px;" alt="">
                    <a href="" class="menu">설정</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="where">
            <div class="location_div">
                <img src="{% static 'img/location.png'%}" alt="" class="location_img">
            </div>
            <input type="text" class="location" placeholder="Location" >
        </div>
    </div>



    <div class="container"> 
        <div class="maxsize">
           
            <div class="flex_mid">

                <div class="searchbo">
                    <img src="{% static 'img/Search Glyph.png'%}" alt="" class="search_img">
                    <div class="search">
                        
                    </div>
                </div>
                <div class="toptop">

                    <div class="top flex">
                        <a href="{% url 'blog:home' %}" class="button"><button class = "category"> 전체 </button></a>
                        <a href="{% url 'blog:category_home' '배달' %}" class="button"><button class = "category"> 배달 </button></a>
                        <a href="{% url 'blog:category_home' '생필품' %}" class="button"><button class = "category"> 생필품 </button></a>
                        <a href="{% url 'blog:category_home' '식재료' %}" class="button"><button class = "category"> 식재료 </button></a>
                        <a href="{% url 'blog:category_home' '기타' %}" class="button"><button class = "category"> 기타 </button></a>  
                    </div>
                    <div>
                        <a href="{% url 'blog:new' %}" class="create">글쓰기</a>
                    </div>
                </div>
                


            </div>
   
            {% for blog in delivery_blogs %}
            <a href="{% url 'blog:detail' blog.id %}" class="middle flex">
                <div >
                    {% if blog.image %}
                    <img src="{{blog.image.url}}" class="img" />
                    {% else %}
                    <img src="{% static 'img/image.png' %}" alt="" class="img">
                    {% endif %}
                </div>
                <div class="article_contents flex">
                    <div class="title">
                        {{blog.title}}
                    </div>
                    <div class="contents">
                        {{blog.summary}}
                    </div>
                </div>
            </a>
            {% endfor %}
            <span>
                <ul class="pagination">

                    {% if delivery_blogs.has_previous %}
                    <li class="page-item">
                        <a class="page-link" tabindex="-1"  href="?page={{ delivery_blogs.previous_page_number }}">&#60;</a>
                    </li>

                    {% endif %}
                    {% for page_number in delivery_blogs.paginator.page_range %}
                    

                    {% if page_number == delivery_blogs.number %} 
                    <li class="page-item active" aria-current="page">
                        <a class="page-link current-page" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                   </li>
                    {% endif %}

                    {% endfor %}

                    {% if delivery_blogs.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ delivery_blogs.next_page_number }}">&#62;</a>
                    </li>

                    {% endif %}

                </ul>

              </span>

        </div>
    </div>

    
</body>
</html>