{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/new.css'%}" />
    <title>Document</title>

  
  </head>
  <body>
    <header id="header">
        <div class="header_div">
            <div class="logo inline">
              <a href="{% url 'town:mainPage'%}">
                <img src="{% static 'image/COCO.png'%}" alt="" class="coco" />
              </a>
            </div>

            <ul class="layout">
                <li>
                    <img src="{% static 'img/home.png'%}" alt="" class="size">
                    <a href="{% url 'myPage:myPage' request.user.id%}" class="mypage">Mypage</a>
                </li>
                <li>
                    <img src="{% static 'img/building_.jpg'%}" style="width:22px;height:22px;padding-top:3px;margin-right:5px;" alt="" >
                    <a href="{% url 'town:myTown'%}" class="mytown">Mytown</a>
                </li>
                <li>
                    <img src="{% static 'img/article.png'%}" alt="" class="size">
                    <a href="{% url 'blog:home' %}" class="thread">게시판</a>
                </li>
                <li>
                    <img src="{% static 'img/perm_identity.png'%}" alt="" class="size">
                    <a href="{% url 'user:signout'%}" class="login">Sign Out</a>
                </li>
                <li>
                    <img src="{% static 'img/Setting.png'%}" style="width:23px;height:23px;margin-right:5px;" alt="">
                    <a href="{% url 'town:setting'%}" class="setting">설정</a>
                </li>
            </ul>
            <a href="#" class="setting" onclick="toggleLayout()"
            ><img
              src="{% static 'image/hamburger.png'%}"
              alt=""
              class="navbar__toggleBtn"
            /></a>
        </div>
    </header>
    <div class="main">
        <div class="where">
            <div class="location_div">
                <img src="{% static 'img/location.png'%}" alt="" class="location_img">
            </div>
            <input type="text" class="location" placeholder="Location" >
        </div>
    </div>

    <div class="container">
      <div class="maxsize">
        <div class="top flex">
          <div class="category_div">
            <select id="category">
              <option value="배달열차">배달열차</option>
              <option value="공구mate">공구mate</option>
              <option value="대신해드립니다">대신 해드립니다</option>
              <option value="우리동네소식">우리동네소식</option>
              <option value="공지사항">공지사항</option>
            </select>
          </div>
          <div class="upload-container">
            <input type="file" id="image-upload" class="imgadd" />
            <label for="image-upload">
              <img src="{% static 'img/image2_bef.png'%}" alt="" id="imgdiv">
            </label>
          </div>

        </div>


        <div class="title_div">
          <input
            type="text"
            class="title"
            placeholder="제목을 입력하세요"
            id="title"
          />
        </div>
        <hr />

        <div class="imgbox_div">                
          <img id="preview" src="" alt="사진 Preview" />
        </div>


        <div class="contents_div">
          <textarea
            name="content"
            class="content"
            oninput="autoResize(this)"
            placeholder="텍스트를 입력하세요"
            id="content"
          ></textarea>
        </div>

      </div>
    </div>

    <div class="footer flex">
      <img src="{% static 'img/COCO.png'%}" alt="" class="logo" />
      <div class="button">
        <a href="" class="close">취소</a>
        <button class="close finish" onclick="submitButton()">완료</button>
      </div>
    </div>

    <script>
      function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
      }
      const submitButton = () => {
        const categoryValue = document.getElementById("category").value;
        const titleValue = document.getElementById("title").value;
        const contentValue = document.getElementById("content").value;
        const imageFile = document.getElementById("image-upload").files[0];

        const formData = new FormData();
        formData.append("title", titleValue);
        formData.append("content", contentValue);
        formData.append("category", categoryValue);
        formData.append("image", imageFile);

        fetch("/blog/create/", {
          method: "POST",
          body: formData,
          headers: {
            "X-CSRFToken": getCookie("csrftoken"), 
          },
        }).then((response) => {
          if (response.redirected) {
            window.location.href = response.url; // 리다이렉션 처리
          } else {
            // 응답 처리
          }
        });
      };

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      function toggleLayout() {
            var layout = document.querySelector('.layout');
            layout.classList.toggle('show');
            }
            setTimeout(function () {
                var greeting = document.getElementById("greeting");
                greeting.style.opacity = 1;
            }, 1000);
            setTimeout(function () {
                var fade = document.getElementById("fade");
                fade.style.opacity = 1;
            }, 1000);

      // 이미지 로드
      document.addEventListener("DOMContentLoaded", function() {
        const imgdiv = document.querySelector('#imgdiv');
        const imageInput = document.getElementById('image');

        imgdiv.addEventListener('click', function() {
          imageInput.click();
        });

        imageInput.addEventListener('change', function() {
          if (imageInput.files && imageInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              imgdiv.src = e.target.result; // Update the src directly on imgdiv
            };
            reader.readAsDataURL(imageInput.files[0]);
          }
        });
      });

      // 호버하면 이미지 변경
      document.addEventListener("DOMContentLoaded", function() {
        const imgdiv = document.querySelector('#imgdiv');

        imgdiv.addEventListener('mouseover', function() {
          imgdiv.src = "{% static 'img/image2_aft.png'%}";
        });

        imgdiv.addEventListener('mouseout', function() {
          imgdiv.src = "{% static 'img/image2_bef.png'%}";
        });
      });

      //사진 프리뷰 
      document.addEventListener("DOMContentLoaded", function () {
        function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function () {
            var imagePreview = document.getElementById("preview");
            imagePreview.src = reader.result;

            var imgBoxdiv = document.querySelector(".imgbox_div");
            imgBoxdiv.style.display = "block";
          };
          reader.readAsDataURL(event.target.files[0]);
        }

        var imageInput = document.getElementById("image-upload");
        imageInput.addEventListener("change", previewImage);
      });




    </script>
  </body>
</html>
