{% extends 'base.html' %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/new.css'%}" />
<link rel="stylesheet" href="{% static 'css/base.css'%}">
{% endblock csslink %}

{% block title %}
Mytown New Article
{% endblock title%}

{% block extrabody %}
    <div class="main">
      <div class="where">
        <div class="location_div">
          <img
            src="{% static 'img/location.png'%}"
            alt=""
            class="location_img"
          />
        </div>
        <p class="location font">
          {{user.town.townname}} Town
      </p>
      </div>
    </div>

    <div class="container">
      <div class="pre">
        <a href="{% url 'blog:home' %}"
          ><img src="{% static 'img/arrow_back.png' %}" alt="" class="backimg"
        /></a>
      </div>
      <div class="maxsize">
        <div class="top flex">
          <div class="category_div">
            <select id="category">
              <option value="배달열차">배달열차</option>
              <option value="공구mate">공구mate</option>
              <option value="대신해드립니다">대신 해드립니다</option>
              <option value="우리동네소식">우리동네소식</option>
              <option value="공지사항">공지사항</option>
            </select>
          </div>
          <div class="upload-container">
            <input type="file" id="image-upload" class="imgadd" />
            <label for="image-upload">
              <img src="{% static 'img/image2_bef.png'%}" alt="" id="imgdiv" />
            </label>
          </div>
        </div>

        <div class="title_div">
          <input
            type="text"
            class="title"
            placeholder="제목을 입력하세요"
            id="title"
          />
        </div>
        <hr />

        <div class="imgbox_div">
          <img id="preview" src="" alt="사진 Preview" />
        </div>

        <div class="contents_div">
          <textarea
            name="content"
            class="content"
            oninput="autoResize(this)"
            placeholder="텍스트를 입력하세요"
            id="content"
          ></textarea>
        </div>
      </div>
    </div>
    {{err_message}}
    <div class="footer flex">
      <img src="{% static 'img/COCO.png'%}" alt="" class="logo" />
      <div class="button">
        <button class="close finish" onclick="submitButton()">작성하기</button>
      </div>
    </div>

    <script>
      function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
      }
      const submitButton = () => {
        const categoryValue = document.getElementById("category").value;
        const titleValue = document.getElementById("title").value;
        const contentValue = document.getElementById("content").value;
        const imageFile = document.getElementById("image-upload").files[0];

        const formData = new FormData();
        formData.append("title", titleValue);
        formData.append("content", contentValue);
        formData.append("category", categoryValue);
        formData.append("image", imageFile);

        fetch("/blog/create/", {
          method: "POST",
          body: formData,
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
          },
        }).then((response) => {
          if (response.redirected) {
            window.location.href = response.url; // 리다이렉션 처리
          } else if (response.status === 400) {
            // 오류 처리
            response.json().then((data) => {
              const errorMessage = data.error;
              alert(errorMessage);
              // 오류 메시지를 사용하여 필요한 동작 수행
            });
          }
        });
    };

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
  
      // 이미지 로드
      document.addEventListener("DOMContentLoaded", function () {
        const imgdiv = document.querySelector("#imgdiv");
        const imageInput = document.getElementById("image");

        imgdiv.addEventListener("click", function () {
          imageInput.click();
        });

        imageInput.addEventListener("change", function () {
          if (imageInput.files && imageInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              imgdiv.src = e.target.result; // Update the src directly on imgdiv
            };
            reader.readAsDataURL(imageInput.files[0]);
          }
        });
      });

      // 호버하면 이미지 변경
      document.addEventListener("DOMContentLoaded", function () {
        const imgdiv = document.querySelector("#imgdiv");

        imgdiv.addEventListener("mouseover", function () {
          imgdiv.src = "{% static 'img/image2_aft.png'%}";
        });

        imgdiv.addEventListener("mouseout", function () {
          imgdiv.src = "{% static 'img/image2_bef.png'%}";
        });
      });

      //사진 프리뷰
      document.addEventListener("DOMContentLoaded", function () {
        function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function () {
            var imagePreview = document.getElementById("preview");
            imagePreview.src = reader.result;

            var imgBoxdiv = document.querySelector(".imgbox_div");
            imgBoxdiv.style.display = "block";
          };
          reader.readAsDataURL(event.target.files[0]);
        }

        var imageInput = document.getElementById("image-upload");
        imageInput.addEventListener("change", previewImage);
      });
    </script>
{% endblock extrabody %}
