@media only screen and (max-width: 900px) {
    body{
        width:max-content;
    }

}

/* reset */

*{
    margin:0;   
    padding:0;   
    box-sizing: border-box; 
}
a {
    text-decoration:none;  
    color: #000;
}
ul {
    list-style: none;
}

/* Header */
header{
    height : 5em;
    width: 100%;
    position: relative;
    padding: 0 0 0 2rem;
}
.header_div{
    width:100%;
    position:relative;
    top:42%;
}



/*  header right  */
.size{
    width: 26px;
    height:26px;
}
.layout{
    display:flex;
    float: right;
    margin-right: 3rem;
}
.layout > li{
    margin: 0 2.5rem;


}
.layout > li > a{
    position:absolute;
    padding:5px 0 0 5px;
} 
#menu{
    padding:0;
}

/* main */
.main{
    margin:1.2rem 0 1rem 0 ;
    height:95px;
    width: 100%;

    background-color: #FFCD29;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.where{
    width: 600px;
    height: 40px;
    background-color: #ffffff92;
    position:relative;
    margin-right:2rem;
    margin-left: 2rem;
    margin:0 auto;
    display: flex;
    border-radius: 30px;
}
.location_div{
    display: flex;
    align-items: center;
    padding: 0 13px 0 15px;
    height:40px;
}
.location_img{
    width: 16px;
    height: 23px
}
.location{
    padding-top: 3px;
    background: none;
    border:none;
    width:540px;
    outline: none;
    font-size: 18px;
}


/* 게시물 제목 */
.article{
    margin-bottom: 5rem;
}

/* 디폴트 */
.container{
    margin: 3rem 0 8rem 0;
    display:flex;
    justify-content: center;
}
.maxsize{
    max-width: 1100px;
    width: 100%;
}
.flex{
    display: flex;
}


/* 카테고리 버튼 */
.toptop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11rem;
}

.top{
    gap:2rem;
    align-items: center;
}
button{
    padding: 12px 15px;
    width:100px;
    border-radius: 14px;
    border:none;
    transition:0.3s;
}
.category:hover{
    opacity: 1;
    background-color: #FFCD29;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}


/* 글쓰기 버튼 */

.create{
    border:2px solid transparent; 
    border-radius: 2px;
     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    padding: 15px 60px;
    margin:10px 4px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
}
  
.create::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:2px;
    background: #FFCD29;
    box-shadow: inset 0px 0px 0px #FFCD29;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.create:hover::before {
    width:100%;
}
  
.create::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:2px;
    background: #FFCD29;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.create:hover::after {
    width:100%;
}
.create:hover{
    border-left:2px solid #FFCD29;
    border-right:2px solid #FFCD29;
}

/* 검색기능 */

.inline{
    display:inline-block;
    margin: 0 2rem 0 0;
}
.coco{
    width: 98px;
    height:26px;
}
.search_img{
    width: 27px;
    height:24px;
    margin: 1rem;
}
.searchbo{
    display: flex;
    align-items: center;
    min-width: 400px;
    height: 40px;
    background-color: #EFEFF4;
    border-radius:7px;
}
.search{
    width:100%;
}   
input[type="search"]{
    height: 29px;
    width:100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 3px 10px 0 0;
}


.flex_mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-bottom: 2rem;
}



/* 게시물 */
.middle {
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem;
}
  
.middle:hover {
background-color: #EFEFF4;
}

.article_contents {
flex-direction: column;
margin: 2rem 3rem;
width: 100%;
}

.title {
font-size: 35px;
}

.contents {
font-size: 20px;
margin-top: 1rem;
height: 80px; /* Set the desired height */
min-width:  630px;
overflow-y: auto; /* Enable vertical scrolling */
}

.img {
height: 200px;
width: 306px;
object-fit: cover;
}
  