/* reset */
* {
    margin:0;   
    padding:0;   
    box-sizing: border-box; 
}
a {
    text-decoration:none;  
    color: #000;
}
ul {
    list-style: none;
}

/* Header */
header{
    height : 90px;
    width: 100%;
    position: relative;
    padding: 0 0 0 2rem;
}
.header_div{
    width:100%;
    position:absolute;
    top:42%;
}
.inline{
    display:inline-block;
    margin: 0 2rem 0 0;
}

.coco{
    width: 98px;
    height:26px;

}
.search_img{
    width: 27px;
    height:24px;
    margin: 3px;
}
.searchbo{
    display: inline-block;
    width: 250px;
    height: 30px;
    background-color: #EFEFF4;
    border-radius:7px;
}
input[type="search"]{
    position:absolute;
    height: 28px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 5px 0 0 10px;
}
/* input[type="search"]:focus{
    border:none;
} */

/* header right */
.size{
    width: 26px;
    height:26px;
}
.layout{
    display:inline-flex;
    float: right;
    margin-right: 3rem;
}
.layout > li{
    margin: 0 2.5rem;


}
.layout > li > a{
    position:absolute;
    padding:5px 0 0 5px;
} 
#menu{
    padding:0;
}

/* main */
.main{
    margin:1.2rem 0 1rem 0 ;
    height:95px;
    background-color: #FFCD29;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.where{
    width: 600px;
    height: 40px;
    background-color: #ffffff92;
    position:relative;
    margin-right:2rem;
    margin-left: 2rem;
    margin:0 auto;
    display: flex;
    border-radius: 30px;
}
.location_div{
    display: flex;
    align-items: center;
    padding: 0 13px 0 15px;
    height:40px;
}
.location_img{
    width: 16px;
    height: 23px
}
.location{
    padding-top: 3px;
    background: none;
    border:none;
    width:540px;
    outline: none;
    font-size: 18px;
}

/* article */
.tapimg{
    width: 230px;
    height: 230px;
}
.article{
    margin:4rem 7rem 2rem 7rem;
}
.article_flex{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    transform: translate(0, 0);
}
/* .article_flex::-webkit-scrollbar{
    border:none;
} */

/* 게시물 타이틀 */
.title_div{
    margin: 1.4rem 0 1.5rem 0;
}
.title{
    font:bold;
    font-size: 30px;

}
/* 게시물  */
.link{
    height:270px;
    margin-right:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    -webkit-user-drag: none;
}