<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Article.css">
    
    <!-- <link rel="stylesheet" href="{% static 'blog/css/style.css'%}"> -->
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="header_div">
            <div class="logo inline">
                <img src="img/COCO.png" alt="" class="coco">
            </div>
            <div class="searchbo inline">
                <form class="search" method="POST" action="{% url 'search' %}">
                    <!-- {% csrf_token %} -->
                        <img src="img/Search Glyph.png" alt="" class="search_img">
                        <input class="search_input" type="search" placeholder="Search" name="searched" >                
                </form>
            </div>
            <ul class="layout">
                <li>
                    <img src="img/home.png" alt="" class="size">
                    <a href="" class="mypage">Mypage</a>
                </li>
                <li>
                    <img src="img/building_.jpg" style="width:22px;height:22px;padding-top:3px;margin-right:5px;" alt="" >
                    <a href="" class="mytown">Mytown</a>
                </li>
                <li>
                    <img src="img/article.png" alt="" class="size">
                    <a href="" class="thread">게시판</a>
                </li>
                <li>
                    <img src="img/perm_identity.png" alt="" class="size">
                    <a href="" class="login">Log in</a>
                </li>
                <li>
                    <img src="img/Setting.png" style="width:23px;height:23px;margin-right:5px;" alt="">
                    <a href="" class="menu">설정</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="where">
            <div class="location_div">
                <img src="img/location.png" alt="" class="location_img">
            </div>
            <input type="text" class="location" placeholder="Location" >
        </div>
    </div>
    <!-- {% for article in articles %} -->
    <div class="article">
        <!-- {{article.title}}
            {{article.content}}
            {{article.author.username}} -->
        <div class="title_div">
            <span class="title">배달</span>
        </div>
        <div class="article_flex">
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap1.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap2.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap3.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap1.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap3.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap2.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>


        </div>

    </div>
    <div class="article">
        <div class="title_div">
            <span class="title">생필품</span>
        </div>
        <div class="article_flex">
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap1.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap2.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap3.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap1.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap3.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>
            <div class="tap1">
                <a href="" class="link">
                    <img src="tap2.jpg" alt="" class="tapimg">
                    <span class="content">배달 같이 시켜먹어요</span>
                </a>
            </div>



        </div>


    </div>
    <div class="article">
        
        <div>

            

        </div>


    </div>
    <!-- {% endfor %} -->
</body>
</html>