@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Kanit:wght@300&family=Nanum+Pen+Script&family=Roboto+Condensed:wght@300&display=swap");
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
  font-family: "Roboto Condensed", sans-serif;

}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}


/* 검색기능 */

.inline {
  display: inline-block;
  margin: 0 2rem 0 0;
}
.coco {
  width: 98px;
  height: 26px;
}
article {
  height: 50vh;
  /* background: #ffcd29; */
  background: linear-gradient(to right, #ffce2b, #e5ff3c);
  color: #000;
}
article .name {
  font-size: 3rem;
}
article .article-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #021029;
  margin-top: 12px;
}

#greeting {
  opacity: 0;
  font-size: 4rem;
  font-family: 'TheJamsil5Bold';
  transition: opacity 1s ease-in-out;

}
#fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
article .search-container {
  font-family: 'GowunDodum-Regular';
  margin: 1rem 0rem 0 0;
  font-size: 1.2rem;
}
.search-container {
  font-size: 1.5rem;
}
article .search-input {
  width: 16rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
}
article .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  text-decoration: none;
}
.btn {
  position: relative;
  border: 0;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  color: #000;
}
.btn.yellow {
  background-color: #fff;
}
.btn.yellow {
  box-shadow: 0px 4px 0px #d1b757;
}
.btn.yellow:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #d6bb59;
}
.rounded {
  border-radius: 1rem;
}
.article-container .article-footer {
  position: absolute;
  background: #021029;
  color: #fff;
  font-size: 20px;
  padding: 1rem 10rem;
  bottom: -1rem;
  border-radius: 1rem;
  font-family: 'TheJamsil5Bold';
}
.footer-container {
  font-family: 'ChosunSg';

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3.3rem 1rem 1rem 1rem;
}
.footer-container .content {
  width: 22.2rem;
  height: 20rem;
}
.footer-container > div {
  flex: 1;
}




footer .footer-container .content {
  margin: 1rem 3rem;
  padding: 0 1rem;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.7s ease-in-out;
}

footer .footer-container .p-title {
  font-size: 2.5rem;
  /* margin: 0 0 1rem 0; */
}

footer .footer-container p {
  margin: 1rem 0;
}
.content .p-title {
  font-weight: bold;
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 2rem 0;
}

.content{
  
}

/* .hot {
  color: rgb(248, 0, 0);
}
.attention {
  color: blue;
} */
textarea {
  border: none;
}
.news {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-title {
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
