@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Kanit:wght@300&family=Nanum+Pen+Script&family=Roboto+Condensed:wght@300&display=swap");
@media only screen and (max-width: 900px) {
  /* body{
        width:max-content;
    } */
  .layout {
    display: none !important;
  }
  .layout.show {
    display: flex !important;
    z-index: 10;
    width: 100vw;
    /* height: 20rem; */
    padding: 0.5rem;
    background: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    top: 47px;
    right: 0;
    position: absolute;
  }
  .layout li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    
    /* border: 1px solid #000; */
  }
  .layout a {
    position: relative !important;
    /* width: 100%; */
  }
  .navbar__toggleBtn {
    color: var(--accent-color);
    position: absolute;
    top: 2px;
    right: 15px;
    width: 23px;
    height: 23px;
  }
  #greeting {
    font-size: 3rem;
    font-family: "Agdasima", sans-serif;
  }
  img:active {
    transform: scale(0.9); /* 이미지 크기를 0.9배로 축소 */
    opacity: 0.7; /* 이미지의 투명도를 0.7로 조정 */
  }
  .layout li:hover {
    /* transform: scale(0.9); 이미지 크기를 0.9배로 축소 */
    background: #efefef; /* 이미지의 투명도를 0.7로 조정 */
  }
  .news-title{
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 900px) {
  /* body{
        width:max-content;
    } */
  .navbar__toggleBtn {
    display: none;
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
  font-family: "Roboto Condensed", sans-serif;

}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

/* Header */
header {
  height: 5em;
  width: 100%;
  position: relative;
  padding: 0 0 0 2rem;
}
.header_div {
  width: 100%;
  position: relative;
  top: 42%;
}

/*  header right  */
.size {
  width: 26px;
  height: 26px;
}
.layout {
  display: flex;
  float: right;
  margin-right: 3rem;
}
.layout > li {
  margin: 0 2.5rem;
}
.layout > li > a {
  position: absolute;
  padding: 5px 0 0 5px;
}
#menu {
  padding: 0;
}

/* 검색기능 */

.inline {
  display: inline-block;
  margin: 0 2rem 0 0;
}
.coco {
  width: 98px;
  height: 26px;
}
article {
  height: 50vh;
  /* background: #ffcd29; */
  background: linear-gradient(to right, #ffce2b, #bdff41);
  color: #000;
}
article .name {
  font-size: 3rem;
}
article .article-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #021029;
}
#greeting {
  opacity: 0;
  font-family: "Agdasima", sans-serif;
  transition: opacity 1s ease-in-out;
}
#fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
article .search-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  padding-bottom: 1rem;
}
.search-container {
  font-size: 1.5rem;
}
article .search-input {
  width: 16rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
}
article .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  text-decoration: none;
}
.btn {
  position: relative;
  border: 0;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  color: #000;
}
.btn.yellow {
  background-color: #fff;
}
.btn.yellow {
  box-shadow: 0px 4px 0px #d1b757;
}
.btn.yellow:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #d6bb59;
}
.rounded {
  border-radius: 1rem;
}
.article-container .article-footer {
  position: absolute;
  background: #021029;
  color: #fff;
  padding: 1rem 10rem;
  bottom: -1rem;
  border-radius: 1rem;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
}
.footer-container .content {
  width: 22.2rem;
  height: 20rem;
}
.footer-container > div {
  flex: 1;
}
footer .footer-container .content {
  margin: 1rem 3rem;
  padding: 0 1rem;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.7s ease-in-out;
}
footer .footer-container .content:hover {
  transform: scale(1.1);
}
footer .footer-container .p-title {
  font-size: 2.5rem;
  /* margin: 1rem 0; */
}
footer .footer-container .p-title {
}
footer .footer-container p {
  margin: 1rem 0;
}
.content .p-title {
  font-weight: bold;
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot {
  color: rgb(248, 0, 0);
}
.attention {
  color: blue;
}
textarea {
  border: none;
}
.news {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-title {
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
