@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Kanit:wght@300&family=Nanum+Pen+Script&family=Roboto+Condensed:wght@300&display=swap");

@media only screen and (min-width: 900px) {
  /* body{
        width:max-content;
    } */
  .navbar__toggleBtn {
    display: none;
  }
}


/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
/* 검색기능 */

.inline {
  display: inline-block;
  margin: 0 2rem 0 0;
}
.coco {
  width: 98px;
  height: 26px;
}
article {
  position: relative;
  margin-top: 7rem;
  /* background: #ffcd29; */
}
article .article-header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
article .card-container {
  display: flex;
  justify-content: center;
  margin: 1rem 6rem;
  flex-wrap: wrap;
  gap: 2rem;
  /* padding: 1rem; */
}
article .card-container > div {
  /* flex: 1 1 24%; */
}
article .card-container .card {
  min-width: 18rem;
  height: 28rem;
  margin: 2rem 1rem;
  border: 1px solid #ebebeb;
  border-radius: 2rem;
  background: #fff;
}
/* @media only screen and (max-width: 1400px) {
  article .card-container {
    display: flex !important;
    justify-content: center !important;
  }
} */
.profile-background {
  display: flex;
  justify-content: flex-end;
  height: 80%;
  border-radius: 2rem 2rem 0 0;
  background: #d9d9d9;
  background-image: url("{% static 'image/background.avif' %}");
  background-size: cover;
  flex-direction: column /* background: linear-gradient(to right, #ffce2b, #bdff41); */;
  align-items: center;
  align-content: flex-end;
  padding-bottom: 9px;

}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: absolute;
  bottom: 12.6rem;
  border: 1px solid #d9d9d9;
  object-fit: cover;
}

.profile-footer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 20%; */
  border-radius: 0 0 2rem 2rem;
  background-color: #fff;
  position: relative;
  margin-top: 12px;
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin-top: 16.2rem; */
  /* background: #fff; */
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
}
.profile p {
  padding: 0.5rem;
}
.profile-messagediv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-message {

  word-wrap: break-word;


}
.profile-message p {
  padding: 0.5rem;
}
.button-container {
  display: flex;
  align-items: center;
  
}
.button-img{
  width:35px;
}

