{% extends 'base.html' %}
{% load static %}



{% block csslink %}
<link rel="stylesheet" href="{% static 'css/newArticle.css'%}" />
<link rel="stylesheet" href="{% static 'css/base.css'%}">
{% endblock csslink %}

{% block title %}
Mypage Edit Article
{% endblock title%}

{% block extrabody %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function autoResize(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
        }
        function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imagePreview = document.getElementById("preview");
            imagePreview.src = reader.result;

            var imgBoxdiv = document.querySelector(".imgbox_div");
            imgBoxdiv.style.display = "block";
        };
        reader.readAsDataURL(event.target.files[0]);
        }

        var imageInput = document.getElementById("image");
        imageInput.addEventListener("change", previewImage);
    });
</script>




<div class="main">
    <div class="where">
        <div class="location_div">
            <img src="{% static 'img/location.png'%}" alt="" class="location_img">
        </div>
        <input type="text" class="location" placeholder="Location" >
    </div>
</div>

<form action="{%url 'myPage:updateArticle' edit_article.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="pre">
            <a href="{% url 'myPage:detailArticle' edit_article.id%}"><img src="{% static 'img/arrow_back.png' %}" alt="" class="backimg"></a>
        </div>
        <div class="maxsize">

            <div class="filebox">
                <input class="upload-name"  value="첨부파일" placeholder="첨부파일">
                <label for="image">파일찾기</label> 
                <input name="image"type="file" id="image" class="imgadd" accept="image/*">            
            </div>
            <div class="title_div">
                <input type='text' name="title" placeholder="제목을 입력하세요" class="title" id="title" value="{{edit_article.title}}"/>
            </div>

            <hr />
            {% if edit_article.image %}
            <div class="imgbox_div" style="display: block;">
                <img id="preview" src="{{edit_article.image.url}}" alt="사진 Preview" />
            </div>
            {% else %}
            <div class="imgbox_div">
                <img id="preview" src="" alt="사진 Preview" />
            </div>
            {% endif %}
            <div class="contents_div">
                <textarea type='text' name="content" class="content" oninput="autoResize(this)" placeholder="텍스트를 입력하세요" id="content">{{edit_article.content_text}}</textarea>
            </div>           
        </div>
        

        <div class="footer flex">
            <img src="{%static 'img/COCO.png'%}" alt="" class="logo" />
            <div class="button">
                <input type='submit' value="작성하기" class="close finish"/>
            </div>
        </div>
    </div>
</form>
{%endblock extrabody %}