{% extends 'base.html' %} 
{% load static %} 
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/newProfile.css'%}" />
<link rel="stylesheet" href="{% static 'css/base.css'%}" />
{% endblock csslink %} 

{% block title %} 
Mypage 
{% endblock title %} 

{% block extrabody %}
    <div class="container">
      <div class="maxsize">
        <div class="top flex">
          <div class="back">
            <a href="{% url 'myPage:myPage' request.user.id%}" class="back"
              ><img
                src="{% static 'img/arrow_back.png'%}"
                alt=""
                class="backimg"
            /></a>
          </div>
        </div>
        <div class="topname">
          <h1>PROFILE</h1>
        </div>
        <hr />
        <form
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'user:create_profile' %}"
          id="profileForm"
        >
          {% csrf_token %}
          <div class="profile_main">
            {% if profile.image %}
            <img
              src="{{profile.image.url}}"
              class="profile_img"
              alt="프로필사진"
              width="100"
              id="profileImage"
            />
            <br />

            <label for="agree" class="chk_box">
              <input type="checkbox" name="remove_image" id="agree" />
              <span class="on"></span>
              <span class="imgdelete">사진삭제</span>
            </label>

            {% else %}

            <img
              src="{% static 'img/profile.png'%}"
              class="profile_img"
              alt="프로필사진"
              width="100"
            />

            {% endif %}
          </div>

          <div class="margin flex">
            <h1 class="">회원 정보</h1>
            <div class="">
              <p class="gray">아이디</p>
              <p class="margintop">{{user.email}}</p>
            </div>

            <div>
              <label for="nickname" class="gray">닉네임</label> <br />
              <input
                type="text"
                name="nickname"
                class="nickname input_box margintop"
                value="{{profile.nickname}}"
              />
            </div>

            <div>
              <label for="nickname" class="gray">한줄소개</label> <br />
              <input
                type="text"
                name="introduce"
                class="introduce input_box margintop"
                value="{{profile.introduce}}"
              />
            </div>
            <div class="filebox">
              <span for="image" class="gray">프로필 사진</span><br />
              <div class="margintop">
                <input
                  class="upload-name"
                  value="첨부파일"
                  placeholder="첨부파일"
                />
                <label for="image">파일찾기</label>
                <input type="file" name="image" id="image" class="imgadd" />
              </div>
            </div>

            <button type="submit" class="submitbtn">저장</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var imageInput = document.getElementById("image");
      var uploadName = document.querySelector(".upload-name");

      imageInput.addEventListener("change", function () {
        var fileName = this.value.split("\\").pop();
        uploadName.value = fileName;
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
    var imageInput = document.getElementById("image");
    var uploadName = document.querySelector(".upload-name");
    var profileImage = document.getElementById("profileImage");

    imageInput.addEventListener("change", function () {
      var file = this.files[0];
      var reader = new FileReader();

      reader.onload = function (e) {
        profileImage.src = e.target.result;
      };

      if (file) {
        reader.readAsDataURL(file);
      }

      var fileName = this.value.split("\\").pop();
      uploadName.value = fileName;
    });
  });
  </script>
{% endblock extrabody %}
