{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <title>Sign In</title>
</head>
<body>
<div class="container" id="container">
  <!-- {error_massage} -->
  <div class="form-container sign-in-container">
    <form action="" method="POST">
        {% csrf_token %}
      <h1>Sign in</h1>
      <input type="email" placeholder="Email" name = 'email'/>
      <input type="password" placeholder="Password" name = 'password'/>
      <input type="submit" value="Sign In"/>
      {% if error_message %}
      <p class="error_message">{{ error_message }}</p>
      {% endif %}
    </form>

  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Hello, Guys!</h1>
        <p>Enter your personal details and start</p>
        <button class="ghost" id="signUp" onclick=goToSignup()>Sign Up</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
  const signInForm = document.querySelector('.form-container.sign-in-container');
  const errorElement = signInForm.querySelector('.error_message');
  const error_message = "{{ error_message }}";

  if (error_message) {
    errorElement.textContent = error_message;
    errorElement.style.display = 'block';
  }

  function goToSignup() {
    const signup_url = `/user/signup/`;
    window.location.href = signup_url;
  }
</script>
