{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  </head>
  <body>
    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}
        <p>Email</p>
        <input type="email" name="email" />
        <p>Password</p>
        <input type="password" name="password" />
        <p id="password_valid" style="display: none; color: green;">Pass</p>
        <p id="password_invalid" style="display: none; color: red;">특수문자를 입력하세요</p>
        <p>Re:Password</p>
        <input type="password" name="password_confirm" id="password_confirm" oninput="checkPasswordMatch()" />
        <p id="password_match" style="display: none; color: green;">Match</p>
        <p id="password_not_match" style="display: none; color: red;">Match</p>
        <p>Name</p>
        <input type="text" name="username" />
        <p>Age</p>
        <input type="number" name="age" />
        <br />
        <p>nickname</p>
        <input type="text" name="nickname" />
        <br />
        <input class="button" type="submit" value="SIGN UP"/>
      </form>
    </div>
  </body>
  <script>
    function checkPasswordMatch() {
      const password = document.querySelector('input[name="password"]').value;

      const passwordValidElement = document.getElementById('password_valid');
      const passwordInvalidElement = document.getElementById('password_invalid');
      const specialCharacters = /[!@#$%^&*(),.?":{}|<>]/;

      const password_confirm = document.querySelector('input[name="password_confirm"]').value;
      const passwordMatchElement = document.getElementById('password_match');
      const passwordNotMatchElement = document.getElementById('password_not_match');

      if (specialCharacters.test(password)) {
          passwordValidElement.style.display = 'inline';
          passwordInvalidElement.style.display = 'none';
        } else {
          passwordValidElement.style.display = 'none';
          passwordInvalidElement.style.display = 'inline';
        }

      if (password === password_confirm) {
        passwordMatchElement.style.display = 'inline';
        passwordNotMatchElement.style.display = 'none';
      } else {
        passwordMatchElement.style.display = 'none';
        passwordNotMatchElement.style.display = 'inline';
      }
    }

    function validateForm() {
      const password = document.querySelector('input[name="password"]').value;
      const password_confirm = document.querySelector('input[name="password_confirm"]').value;

      if (password !== password_confirm) {
        alert("Passwords do not match");
        return false;
      }

      return true;
    }
  </script>
</html>
