{% extends 'base.html' %} 
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/mainPage.css'%}" />
<link rel="stylesheet" href="{% static 'css/base.css'%}" />

{% endblock csslink %}
{% block title %}
MainPage
{% endblock title %}

{% block extrabody %} 

<article class="font">
  <div class="article-container">
    <div class="name">
      <h1 id="greeting">Welcome to COCO TOWN</h1>
    </div>
    
    <span class="article-footer">Today News</span>
    <div class="search-container">
      <p id="fade">
        {{town.townname}} Town &ensp; 이웃 수 : {{town.usercount}}
      </p>
    </div>
  </div>
</article>
<footer class="font">
  <div class="footer-container">
    <div class="content">
      <p class="p-title new">new ❗</p> 
      {% if latest_blog %}
      <a href="{% url 'blog:detail' latest_blog.id%}">
        {% if latest_blog.image %}
        <img src="{{latest_blog.image.url}}" alt="" class="news-img">
        {% else %}
        <img src="{% static 'image/article_logo.png'%}" alt="" class="news-img">
        {% endif %}
        <p class="news-title">{{latest_blog.title}}</p>
        <p class="news">{{latest_blog.content}}</p>
      </a>
      {% endif %}
    </div>
    <div class="content">
      <p class="p-title hot">hot 🔥</p>
      {% if most_viewed_blog %}
      <a href="{% url 'blog:detail' most_viewed_blog.id%}">
        {% if most_viewed_blog.image %}
        <img src="{{most_viewed_blog.image.url}}" alt="" class="news-img">
        {% else %}
        <img src="{% static 'image/article_logo.png'%}" alt="" class="news-img">
        {% endif %}
        <p class="news-title">{{most_viewed_blog.title}}</p>
        <p class="news">{{most_viewed_blog.summary}}</p>
      </a>
      {% endif %}
    </div>
    <div class="content">
      <p class="p-title attention">attention ✨</p>
      {% if most_liked_blog %}
      <a href="{% url 'blog:detail' most_liked_blog.id%}">
        {% if most_liked_blog.image %}
        <img src="{{most_liked_blog.image.url}}" alt="" class="news-img">
        {% else %}
        <img src="{% static 'image/article_logo.png'%}" alt="" class="news-img">
        {% endif %}
        <p class="news-title">{{most_liked_blog.title}}</p>
        <p class="news">{{most_liked_blog.content}}</p>
      </a>
      {% endif %}
    </div>
  </div>
</footer>
<script>
</script>
{%endblock extrabody %}