{% load static %}
<link rel="stylesheet" href="{% static 'css/mainPage.css'%}" />
<header id="header">
  <div class="header_div">
    <div class="logo inline">
      <a href="">
        <img src="{% static 'image/COCO.png'%}" alt="" class="coco" />
      </a>
    </div>
    <ul class="layout">
      <li>
        <img src="{% static 'image/home.png'%}" alt="" class="size" />
        <a href="{% url 'myPage:myPage' request.user.id %}" class="mypage"
          >Mypage</a
        >
      </li>
      <li>
        <img src="{% static 'image/building_.png'%}" alt="" class="size" />
        <a href="{% url 'town:myTown'%}">Mytown </a>
      </li>
      <li>
        <img src="{% static 'image/article.png'%}" alt="" class="size" />
        <a href="{% url 'town:myTown'%}">게시판 </a>
      </li>
      <li>
        <img src="{% static 'image/perm_identity.png'%}" alt="" class="size" />
        <a class="login" href="{%url 'user:signout'%}">Sign Out</a>
      </li>
      <li>
        <img src="{% static 'image/Setting.png'%}" alt="" class="size" />
        <a href="" class="setting">설정</a>
      </li>
    </ul>
  </div>
</header>
<article>
  <div class="article-container">
    <div class="name">
      <h1>Welcome to COCO Town</h1>
    </div>
    <div class="search-container">
      <p>{{town.townname}} Town</p>
      <p>유저수:{{town.usercount}}</p>
    </div>
    <span class="article-footer">Today News</span>
  </div>
</article>
<footer>
  <div class="footer-container">
    <div class="content">
      <p class="p-title new">New</p>
      <p>콜라 나눔해요</p>
      <p>
        어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라 나눔합니다!어제 산 콜라
        나눔합니다!어제 산 콜라 나눔합니다!
      </p>
    </div>
    <div class="content hot">
      <p class="p-title hot">Hot</p>
      <p>사이다 나눔해요</p>
      <p>
        어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다
        나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산
        사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다
        나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산
        사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다
        나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산
        사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다
        나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산
        사이다 나눔합니다!어제 산 사이다 나눔합니다!어제 산 사이다 나눔합니다!
      </p>
    </div>
    <div class="content attention">
      <p class="p-title attention">Attention</p>
      <p>환타 나눔해요</p>
      <p>
        어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!어제 산 환타 나눔합니다!어제 산 환타 나눔합니다!어제 산 환타
        나눔합니다!
      </p>
    </div>
  </div>
</footer>
