{% extends 'base.html' %} 
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/myTown.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

{% endblock csslink %}

{% block title %}
My Town
{% endblock title %}

{% block extrabody %}

<article>
  <p class="article-header">Members</p>
  <div class="card-container">
    {% for member in users %}
    <div class="card">
      <div class="profile-background"></div>
      <div class="profile-footer">
          {% if member.profile.image %}
          <img
          class="profile-photo"
            src="{{member.profile.image.url}}"
          />
          {% else %}
          <img
          class="profile-photo"
            src="{% static 'image/profile.png'%}"
          />
          {% endif %}
        <div class="profile">
          <h3>{{member.profile.nickname}}</h3>
          <div class="button-container">
            <a href="{% url 'myPage:myPage' member.id%}">
              <img src="{% static 'image/mypage.svg'%}" alt="User Page" />
            </a>
          </div>
        </div>
        <div class="profile-message">
          <p>{{member.profile.introduce}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>

<script>
  function toggleLayout() {
    var layout = document.querySelector(".layout");
    layout.classList.toggle("show");
  }
  setTimeout(function () {
    var greeting = document.getElementById("greeting");
    greeting.style.opacity = 1;
  }, 1000);
  setTimeout(function () {
    var fade = document.getElementById("fade");
    fade.style.opacity = 1;
  }, 1000);
</script>
{%endblock extrabody %}
