@media only screen and (max-width: 744px) {
    body{
        width:max-content;
    }
    .footer{
        width: max-content;
    }

}
@font-face {
    /* 넥슨 lv1 고딕 */
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    
}
@font-face {
    font-family: 'designhouseOTFLight00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

*{
    margin:0;   
    padding:0;   
    box-sizing: border-box; 
}
a {
    text-decoration:none;  
    color: #000;
}
ul {
    list-style: none;
}
.font{
    font-family: 'NEXON Lv1 Gothic OTF';
}
.font1{
    font-family: 'designhouseOTFLight00';
}


/* Header */
header{
    height : 5em;
    width: 100%;
    position: relative;
    padding: 0 0 0 2rem;
}
.header_div{
    width:100%;
    position:relative;
    top:42%;
}
.inline{
    display:inline-block;
    margin: 0 2rem 0 0;
}

.coco{
    width: 98px;
    height:26px;
}

.search_img{
    width: 27px;
    height:24px;
    margin: 3px;
}
.searchbo{
    display: inline-block;
    width: 250px;
    height: 30px;
    background-color: #EFEFF4;
    border-radius:7px;
}
input[type="search"]{
    position:absolute;
    height: 28px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 5px 0 0 10px;
}


/* header right */
.size{
    width: 26px;
    height:26px;
}
.layout{
    display:flex;
    float: right;
    margin-right: 3rem;
}
.layout > li{
    margin: 0 2.5rem;


}
.layout > li > a{
    position:absolute;
    padding:5px 0 0 5px;
} 
#menu{
    padding:0;
}

/* main */
.main{
    margin:1.2rem 0 1rem 0 ;
    height:95px;
    width: 100%;

    background-color: #FFCD29;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.where{
    width: 600px;
    height: 40px;
    background-color: #ffffff92;
    position:relative;
    margin-right:2rem;
    margin-left: 2rem;
    margin:0 auto;
    display: flex;
    border-radius: 30px;
}
.location_div{
    display: flex;
    align-items: center;
    padding: 0 13px 0 15px;
    height:40px;
}
.location_img{
    width: 16px;
    height: 23px
}
.location{
    padding-top: 3px;
    background: none;
    border:none;
    width:540px;
    outline: none;
    font-size: 18px;
}

/* 게시물 Create 페이지 */

/* 디폴트 */
.container{
    margin: 6rem 0 8rem 0;
    display:flex;
    justify-content: center;
}
.maxsize{
    max-width: 900px;
    width: 100%;
}
.flex{
    display: flex;
}


/* 게시물 제목 */
.category{
    color:#818181;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 2rem;
}
.article{
    margin-bottom: 5rem;
}

.title{
    font-size: 2.7rem;
    font-weight: 600;
    
}
.detail{
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;

    padding:1.5rem 0 1.9rem 0;
}
.createuser2{
    margin-left:0.5rem;
    margin-right:1.5rem;
}
.image{
    width:80%;
    margin-top:1.8rem;
    margin-left:auto;
}
.date{
    margin-right:1rem;
}
.cu::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 1.5rem;
    background-color: #bfbfbf;
    vertical-align: baseline;
}



/* 본문 */

.content{
    margin:4rem 0 4rem 0 ;
}

/* 좋아요 */
.like{
    align-items: center;
    gap:12px;
    margin:13px;
}
.like_img{
    width:32px;
}

/* 댓글 */
.massage{
    background-color: #e6e6e6;
    border:#e6e6e6 solid 4px;
    border-radius: 25px;
    min-height: 6rem;
    padding:1.4rem;
    gap:2rem;
    margin: 1.5rem 0;
}
.massage_create{
    height:80px;
    border:#e6e6e6 solid 4px;
    border-radius: 25px;
    min-height: 7rem;
    padding:1rem;
    gap:2rem;
    margin: 1rem 0;
}
.input_massage{
    border:none;
    /* background-color: #e6e6e6; */
    min-width:500px;
    width:auto;
    resize: none;
    font-size:16px;
    
    
}
.input_massage:focus{

    outline:none;
}

.profile_img{
    height:65px;
    width:65px;
    border-radius: 100%;
}
.username{
    font-size: 22px;
    font-weight: 500;
}
.massagedate{
    margin-top:3px;
    color:#8d8d8d;
}
.msg_contents{
   
    max-height: 100px; 
    max-width:745px;
    overflow: auto;
    overflow-x: hidden;
    /* padding-right:15px; */
    
}
.msg{
    display: flex;
    justify-content: space-between;
    /* padding:10px; */
    align-items: center;
}
.submit{
    padding:1.75rem 1.5rem;
    border-radius: 25px;
    background-color: #FFCD29;
    transition: 0.3s;
    border:none;
}
.submit:hover{
    background-color: #000000;
    color:#fff;
    
}

::-webkit-scrollbar{
    width: 10px;
    margin-left:9px;
    
}
::-webkit-scrollbar-thumb {
    background-color: gray;
  }
::-webkit-scrollbar-track{
    background-color: #e6e6e6;
}
.msg{
    width:100%;
}

.Userdetail{
    gap:15px;
    margin-bottom:10px;
}

.more{
    float:right;
    
}
.delete{
    margin:5px;
}
.max{
    width:100%;
}


.hidden{
    display: none;
}

/* 버튼 */
.btn{
    padding:5px 10px;
    background-color: #FFCD29;
    border-radius: 25px;
    transition: 0.3s;
    border:none;
}
.btn:hover{
    background-color: #000000;
    color:#fff;
}

.btn2{
    padding:5px 17px;
    /* background-color: #FFCD29; */
    border:#FFCD29 3px solid;
    border-radius: 10px;
    transition: 0.3s;
    /* border:none; */
}
.btn2:hover{
    background-color: #FFCD29;

}


