@media only screen and (max-width: 1000px) {
    
    /* 카테고리와 글쓰기 */
    .toptop {
        /* display:  !important; */
        flex-direction: column;
        
        gap:1rem !important;
    }
    .create{
        margin-right:auto;
    }
    .create_div{
        
        justify-content: center;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;

        display: block !important;
        align-self: flex-start;

    }

}

@media only screen and (min-width: 1000px) {
    /* body{
          width:max-content;
      } */
    .navbar__toggleBtn {
      display: none;
    }
}

@font-face {
    /* 넥슨 lv1 고딕 */
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'designhouseOTFLight00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


/* reset */

*{
    margin:0;   
    padding:0;   
    box-sizing: border-box; 
}
a {
    text-decoration:none;  
    color: #000;
}
ul {
    list-style: none;
}
.font{
    font-family: 'NEXON Lv1 Gothic OTF';
}







/* main */
.main{
    margin:1.2rem 0 1rem 0 ;
    height:95px;
    width: 100%;

    background-color: #FFCD29;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.where{
    width: 600px;
    height: 40px;
    background-color: #ffffff92;
    position:relative;
    margin-right:2rem;
    margin-left: 2rem;
    margin:0 auto;
    display: flex;
    border-radius: 30px;
    align-items: center;
    overflow: hidden;
}
.location_div{
    display: flex;
    align-items: center;
    padding: 0 13px 0 15px;
    height:40px;
    
}
.location_img{
    width: 16px;
    height: 23px
}
.location{
    padding-top: 3px;
    background: none;
    border:none;
    width:100%;
    outline: none;
    font-size: 16px;
}


/* 게시물 제목 */
.article{
    margin-bottom: 5rem;
}

/* 디폴트 */
.container{
    margin: 3rem 0 8rem 0;
    display:flex;
    justify-content: center;

}
.maxsize{
    max-width: 1100px;
    width: 100%;
}
.flex{
    display: flex;
}


/* 카테고리 버튼 */
.toptop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.top{
    gap:2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
button{
    padding: 12px 14px;
    border-radius: 14px;
    border:none;
    transition:0.3s;
    font-size: 19px;
    font-family: 'designhouseOTFLight00';
    white-space: nowrap;
    cursor: pointer;
}
.category:hover{
    opacity: 1;
    background-color: #FFCD29;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}


/* 글쓰기 버튼 */

/* .create_div{
    border:2px solid transparent; 
    border-radius: 2px;
     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1); */
    /* height:20px; */
    /* padding: 15px 60px; */
    /* margin:10px 4px;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    white-space: nowrap;
}

  
.create_div::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:2px;
    
    background: #FFCD29;
    box-shadow: inset 0px 0px 0px #FFCD29;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
  
.create_div:hover::before {
    width:100%;
}
  
.create_div::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:2px;
    background: #FFCD29;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.create_div:hover::after {
    width:100%;
}
.create_div:hover{
    border-left:2px solid #FFCD29;
    border-right:2px solid #FFCD29;
} */
div.create_div
{
    display: block;

    font-family: Raleway;
    margin: 0 auto;
    padding: 15px 30px;
	text-align: center;
    position:relative;
    white-space: nowrap;
    overflow-wrap: break-word;
}
div.create_div a:before
{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFCD29;
    opacity: 0.4;
    transition: all 0.3s;
}

div.create_div a:hover:before
{
    height: 100%;
}


.create{
    height:2px;
    padding: 10px 30px;
}

/* 검색기능 */

.inline{
    display:inline-block;
    margin: 0 2rem 0 0;
}
.coco{
    width: 98px;
    height:26px;
}
.search_img{
    width: 27px;
    height:24px;
    margin: 1rem;
}
.searchbo{
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 50%;
    height: 40px;
    background-color: #EFEFF4;
    border-radius:7px;
    padding: 0 12px 0 0;
    overflow: hidden;
}
.search{
    width:100%;
}   
input[type="search"]{
    height: 29px;
    width:100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 3px 10px 0 0;
}


.flex_mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-bottom: 3rem;
}



/* 게시물 */
.middle {
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem;
}
  
.middle:hover {
background-color: #EFEFF4;
}

.article_contents {
flex-direction: column;
margin: 2rem 3rem;
width: 100%;
}

.title {
font-size: 30px;
}

.contents {
font-size: 18px;
margin-top: 1rem;
height: 80px; /* Set the desired height */

overflow-y: auto; /* Enable vertical scrolling */
}

.img {
height: 200px;
width: 306px;
object-fit: cover;

}
  
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4px;
    height:70px;
    
    align-items: center;
}

.pagination li a{
    padding: 10px 15px;
    font-size:19px;

}

.pagination li a:hover{
    background-color: #d8d8d8;
}

.current-page {
    color: #FFCD29;
    font-weight: 900;
    border:1px solid #cacaca;
}

